* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
  
body{
  font-family: "Poppins", sans-serif;
  background:#e4e3e3;
  
  
  
  
}
/*Navbar*/
header{
    top: 0;
    left: 0;
    right: 0;
   
     background:#7c7c7c;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 0px 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    text-transform: uppercase;
    position: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}

 header a{
  text-decoration: none;
 }

header .logo{
     height: 30px;
     width: 100px;
     margin-left: 30%;   
}

header .navbar ul{
    list-style: none;
    
}
header .navbar{
  margin-right: 1%;
}
header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 15px;
    margin-right: 0px;
    padding: 25px 10px 25px 10px;
    color: white;
    display: block;
}

header .navbar ul li a:hover{
    background: #c4c4c4;
}

header .navbar ul li ul{
    position:absolute;
    left: 0;
    width: 248px;
    background:#7c7c7c;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid gray;
}

/*focus withi to continue displaying after a click*/
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
   
}

#menu-bar{
    display: none;
}

header label{
    font-size: 25px;
    
    cursor: pointer;
    display: none;
}

/*Main image*/
.hikkamain img{
   
    width:100%;
    height: 400px;
    object-fit: cover;
    object-position: 100% 50%;
    margin-bottom: 10px;
}
.hikkamain {
    position: relative;
   
}
.hikkamain .centertext {
  color: white;
   position: absolute;
   top: 60%;
   left: 25%;
   font-size: 45px;
   font-family: 'Times New Roman', Times, serif;
   text-transform: uppercase;

   font-weight: 900;
   animation: fadein 3s alternate;
}
@keyframes fadein{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
/*1st section*/
.section1{
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: -20px;
    margin-top: 10px;
   
}
.section1 .para h3{
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 25px;
 background:#c5c5c5;
  
}
.section1 .para {
    width: 60%;
    font-size: 18px;
    margin-right: 60px;
    line-height: 26px;
   
   
     
    border-radius: 1em;
}
.section1 .para p{
  padding-bottom: 15px;
  text-align: justify;
  background:#f5f5f5;
  
}


.section1 .image{
    width: 40%;
    text-align: center;
   
   
 
    
}
.section1 .image img{
  width: 100%;
  height: 80%;
  object-fit: cover;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10em;
   
}
/*2nd section*/
.lparabox{
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 35px;
   
}
.lparabox .para h3{
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 25px;
  background:#c5c5c5;
}
.lparabox .para {
    width: 60%;
    font-size: 18px;
    margin-right: 60px;
    line-height: 26px;
}
.lparabox .para p{
  padding-bottom: 15px;
  text-align: justify;
  background:#f5f5f5;
}


.lparabox .image{
    width: 40%;
    text-align: center;
   
 
    
}
.lparabox .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10em;
   
}
.lparabox .para ul{
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 15px;
}

/*mapbox*/
.rmapbox{
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
   
}
.rmapbox .para h3{
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 25px;
  background:#c5c5c5;
}
.rmapbox .para {
    width: 60%;
    font-size: 18px;
    margin-right: 60px;
    line-height: 26px;
}
.rmapbox .para p{
  padding-bottom: 15px;
  text-align: justify;
  background:#f5f5f5;
}


.rmapbox .benmap{
    width: 40%;
    text-align: center;
 
    
}

.rmapbox .para ul{
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 15px;
  background:#f5f5f5;
}
.rmapbox .benmap iframe{
  width: 100%;
  height: 100%;
  border-radius: 1em;
}


/*Footer*/
footer{
   background:#88B04B;
  

}
.footer {
  margin-top: 50px;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
  color: #efefef;
  display: flex;
  justify-content: space-around; 
  font-family: "Poppins", sans-serif;
}

.footer .col {
  text-align: center;
 
}


.footer .col h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.col a {
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
  transition: transform .2s;
}

.col a:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.3);
}

form input {
  width: 400px;
  height: 45px;
  
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}
.subbutton button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
  transition: transform .2s;
}

.subbutton button:hover {
 background: #afd548;
  transform: scale(1.1);
}
.footer .col p{
  margin-top: 50px;
}

.space {
  line-height: 120%;
}

.icons {
  margin-top: 30px;
}

.icons i {
  font-size: 22px;
  margin: 5px;
  cursor: pointer;
  transition: transform .2s;
}
.icons i:hover{
  transform: scale(1.5);
}
.copyright{
  text-align: center;
  padding-bottom: 10px;
  
}
@media (max-width:500px) {
  /*nav bar*/

  header{
    padding: 15px 20px 15px 0px;
    position: fixed;
  }

  header .logo{
    margin-left: 20%;
  }
  header .navbar ul li a{
    padding: 15px;
  }


  header label{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #a1cb2e;
    border-top: 1px solid gray;
    display: none;
    width: 100%;
        
  }
  header .navbar ul li a{
    color: black;
  }

  header .navbar ul li{
    width: 100%;
  }

  header .navbar ul li ul{
    position: relative;
    width: 100%;
  }
  header .navbar ul li ul li{
    background: #739321;
  }
  header .navbar ul li ul li ul{
    width: 100%;
    left: 0;

  }

  #menu-bar:checked ~ .navbar{
        display: initial ;
  }
  .hikkamain img{
   
    width:100%;
    height: 300px;
    object-fit: cover;
    object-position: 30% 0;
    margin-bottom: 10px;
}
.hikkamain .centertext {
  color: white;
   position: absolute;
   top: 35%;
   left: 30%;
   font-size: 30px;
   line-height: 45px;
   width: 100px;
   text-align: center;
}
/*1st section*/
.section1{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5px;
   
}
.section1 .para h3{
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
}
.section1 .para {
    width: 100%;
    font-size: 18px;
    margin-right: 0px;
    line-height: 24px;
}
.section1 .para p{
  padding-bottom: 12px;
}
.section1 .image{
    width: 100%;
    text-align: center;
    margin-top: 10px;
 
    
}
/*section 2*/
.lparabox{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5px;
   
}
.lparabox .para h3{
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
}
.lparabox .para {
    width: 100%;
    font-size: 18px;
    margin-right: 0px;
    line-height: 24px;
}
.lparabox .para p{
  padding-bottom: 12px;
}
.lparabox .image{
    width: 100%;
    text-align: center;
    margin-top: 10px;
 
    
}
/*section 3*/
.rmapbox{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5px;
   
}
.rmapbox .para h3{
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
}
.rmapbox .para {
    width: 100%;
    font-size: 18px;
    margin-right: 0px;
    line-height: 24px;
}
.rmapbox .para p{
  padding-bottom: 12px;
}
.rmapbox .benmap{
    width: 100%;
    text-align: center;
    margin-top: 10px;
 
    
}
/*footer*/
  .footer{
 display:inline-block;
 margin-top: 30px;
 

}
.footer .col{
  margin-bottom: 20px;
}
.footer .col h3{
  margin-bottom: 15px;
  
}
.col a{
  margin-bottom: 2px;
}
.footer .col form input{
  margin-top: 5px;
  margin-bottom: 20px;
  width: 300px;
 
  
}
.footer .col p{
  margin-top: 15px;
}
.subbutton button {
  margin-bottom: 5px;
}
.icons{
  margin-bottom: -25px;
}
}
